html, body {
    margin: 0px;
    background-image: url(https://i.blogs.es/494e30/bak-sshot075_7qdd/1366_2000.jpeg);

}

.Titulo {

    text-align: center;
    background-color: black;
    color: gray;
    padding: 20px;
    font-size: 25px;
}
.btn {
    background-color: black;
    color: gray;
    
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

.text {
    color: grey;
}

#computadora-cartas, #jugador-cartas {
    height: 240px;
}